:root {
  --accent-color: #2196f3;
  --bgc-hero-btn-hover: #188ce8;
  --simple-white-color: #ffffff;
  --simple-black-color: #000000;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bgc-footer-and-hero: #2f303a;
  --bgc-section-team: #f5f4fa;
  --border-color-in-portfolio: #eeeeee;
  --border-color-page-header: #ececec;
  --soc-icon-fill-in-team-section: #afb1b8;
  --footer-soc-bg-color: rgba(255, 255, 255, 0.1);
  --bg-color-for-work-description: rgba(47, 48, 58, 0.8);
  --bg-color-pirtfolio-item-hover: rgba(33, 150, 243, 0.9);
  --color-contacts-footer: rgba(255, 255, 255, 0.6);
  --backdrop-color-modal: rgba(0, 0, 0, 0.2);
}

/* -------------Universal------------- */

body {
  background-color: var(--simple-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  line-height: 1.71;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 94px 0;
}

/* -------------Header------------- */

.page-header {
  border-bottom: 1px solid var(--border-color-page-header);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--simple-black-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.page-nav .logo {
  display: inline-block;
}

.nav-pages-list {
  display: flex;
  /* margin-right: auto; */
}

.header-contact-list {
  display: flex;
  margin-left: auto;
}

.page-header .logo {
  margin-right: 93px;
}

.nav-pages-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-item:not(:last-child) {
  margin-right: 40px;
}

.accent {
  color: var(--accent-color);
}

.nav-list-item,
.contact-list-item {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list-item {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.nav-list-item:hover,
.nav-list-item:focus,
.contact-list-item:hover,
.contact-list-item:focus {
  color: var(--accent-color);
}

.nav-list-item.current {
  color: var(--accent-color);
  position: relative;
}

.nav-list-item.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  /* display: block; */
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.icon-header-contact {
  fill: currentColor;
  margin-right: 10px;
}

/* -------------Hero------------- */

.hero {
  background-color: var(--bgc-footer-and-hero);
  text-align: center;
  max-width: 1600px;
  max-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--simple-white-color);
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--simple-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 24px;
  border-width: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--bgc-hero-btn-hover);
}

/* -------------Features------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-features {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
}

.icon-features-cont {
  background-color: var(--bgc-section-team);
  margin-bottom: 30px;
}
.feature-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
}

.features .list {
  display: flex;
}
.features .list-item {
  width: calc((100%-90px) / 4);
}
.features .list-item:not(:last-child) {
  margin-right: 30px;
}

.feature-description {
  line-height: 1.41;
  color: var(--secondary-text-color);
}

/* -------------Work------------- */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section.no-top-padding {
  padding-top: 0;
}

.work .list {
  display: flex;
}

.work-img {
  display: block;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item {
  width: calc((100%-60px) / 3);
  position: relative;
}

.work-description {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--bg-color-for-work-description);
  color: var(--simple-white-color);
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* -------------Team------------- */

.team {
  background-color: var(--bgc-section-team);
}

.team-member-list {
  display: flex;
}

.team-member {
  background-color: var(--simple-white-color);
  width: calc((100%-90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-member-photo {
  margin-bottom: 30px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.member-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.member-soc-item:not(:last-child) {
  margin-right: 10px;
}

.member-soc-icon {
  fill: var(--soc-icon-fill-in-team-section);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-soc-link:hover .member-soc-icon,
.member-soc-link:focus .member-soc-icon {
  fill: var(--simple-white-color);
}

.member-soc-link:hover,
.member-soc-link:focus {
  background-color: var(--accent-color);
}

/* -------------Clients------------- */

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--soc-icon-fill-in-team-section);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
  fill: var(--soc-icon-fill-in-team-section);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .icon-clients,
.clients-link:focus .icon-clients {
  fill: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

/* -------------Footer------------- */

.page-footer {
  background-color: var(--bgc-footer-and-hero);
  padding: 60px 0;
}

.page-footer .logo {
  color: var(--simple-white-color);
  margin-bottom: 28px;
  display: inline-block;
}

.company-address,
.company-mail,
.company-tel {
  line-height: 1.71;
  font-style: normal;
  color: var(--color-contacts-footer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-address:focus,
.company-address:hover,
.company-mail:focus,
.company-mail:hover,
.company-tel:focus,
.company-tel:hover {
  color: var(--accent-color);
}

.footer-address-list {
  width: 231px;
}

.company-address {
  color: var(--simple-white-color);
}

.page-footer .list li:not(:last-child) {
  margin-bottom: 12px;
}

.footer-social-medias {
  margin-right: 93px;
}

.footer-social-medias-title {
  color: var(--simple-white-color);
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--footer-soc-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-icon {
  fill: var(--simple-white-color);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-form-title {
  color: var(--simple-white-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-form-input {
  height: 48px;
  min-width: 350px;
  max-width: 354px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 0 16px;
  margin-right: 12px;
  color: var(--simple-white-color);
  font-size: 16px;
  line-height: 1.25;
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-btn {
  width: 200px;
  height: 50px;
  color: var(--simple-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
  background-color: var(--bgc-hero-btn-hover);
}

.icon-footer-btn {
  margin-left: 10px;
  fill: var(--simple-white-color);
}

/* -------------Modal------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color-modal);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  min-height: 581px;
  background-color: var(--simple-white-color);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -150%) scale(1.5);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  background-color: var(--simple-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-close-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon-close-modal,
.modal-close:focus .icon-close-modal {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--accent-color);
  outline: transparent;
}

.modal-input:focus + .icon-modal-input,
.modal-input:hover + .icon-modal-input {
  fill: var(--accent-color);
}

.modal-input-group {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.input-wrapper {
  position: relative;
  margin-top: 4px;
}

.icon-modal-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus,
.modal-textarea:hover {
  border-color: var(--accent-color);
  outline: transparent;
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-group.textarea {
  margin-bottom: 20px;
}

.checkbox-input-wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.check-label {
  display: flex;
  align-items: center;
}

.check-label::before {
  content: "";
  display: inline-flex;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-checkbox:checked + .check-label::before {
  border-color: transparent;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  background-position: center;
}

.politic-link {
  color: var(--accent-color);
  display: inline;
  text-decoration: underline;
}

.modal-submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--simple-white-color);
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--bgc-hero-btn-hover);
}

/* -------------Portfolio------------- */

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-width: 0;
  background-color: var(--bgc-section-team);
  color: var(--primary-text-color);
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--simple-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn-list {
  display: flex;

  margin-bottom: 50px;
  justify-content: center;
}

.filter-btn-item:not(:last-child) {
  margin-right: 8px;
}

.current-filter {
  background-color: var(--accent-color);
  color: var(--simple-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-item-cover-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--simple-white-color);
  background-color: var(--bg-color-pirtfolio-item-hover);
  height: 100%;
  padding: 63px 24px;

  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio-list-item:hover .portfolio-item-cover-text,
.portfolio-list-item:focus .portfolio-item-cover-text {
  transform: translateY(0);
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfoli-item-img {
  display: block;
}

.portfolio-item-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.portfolio-item-title-and-description {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--border-color-in-portfolio);
  border-top: none;
}

.portfolio-work-list {
  display: flex;
  flex-wrap: wrap;
}

/* -------------Universal------------- */
