.footer {
  background-color: var(--bgc-footer-and-hero);
  padding: 60px 0;
}

.logo--footer {
  margin-bottom: 28px;
}

.info-block__address,
.info-block__mail,
.info-block__tel {
  line-height: 1.71;
  font-style: normal;
  color: var(--color-contacts-footer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.info-block__list {
  width: 231px;
}

.info-block__address {
  color: var(--simple-white-color);
}

.footer .list li:not(:last-child) {
  margin-bottom: 12px;
}

.footer__social-block {
  margin-right: 93px;
}

.social-block__title {
  color: var(--simple-white-color);
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__info-block {
  margin-right: 70px;
}

.social-block__list {
  display: flex;
}

.social-block__link {
  width: 44px;
  height: 44px;
  @extend %centered-flex;

  border-radius: 50%;
  background-color: var(--footer-soc-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.subscribe-block__form {
  display: flex;
}

.social-block__item:not(:last-child) {
  margin-right: 10px;
}

.social-block__icon {
  fill: var(--simple-white-color);
}

.subscribe-block__title {
  color: var(--simple-white-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}

.subscribe-block__input {
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 0 16px;
  margin-right: 12px;
  color: var(--simple-white-color);
  font-size: 16px;
  line-height: 1.25;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-block__submit-btn {
  @extend %centered-flex;
  @extend %btn;
}

.subscribe-block__icon {
  margin-left: 10px;
  fill: var(--simple-white-color);
}
