.section.no-top-padding {
  padding-top: 0;
}

.work .list {
  display: flex;
}

.work-img {
  display: block;
}

.work-item {
  width: calc((100% - 60px) / 3);
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work-description {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--bg-color-for-work-description);
  color: var(--simple-white-color);
  position: absolute;
  bottom: 0;
  width: 100%;
}
