.section__title--features {
  @extend %visually-hidden;
}

.advantage__icon-wrapper {
  @extend %centered-flex;
  background-color: var(--bgc-section-team);
  margin-bottom: 30px;
  height: 120px;
}
.advantage__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
}

.features__list {
  display: flex;
}
.features__item {
  width: calc((100% - 90px) / 4);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantage__description {
  line-height: 1.41;
  color: var(--secondary-text-color);
}
