.team {
  background-color: var(--bgc-section-team);
}

.team__member-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    margin: -15px;
  }
}

.team__member {
  background-color: var(--simple-white-color);
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
  }
}

.member__photo {
  margin-bottom: 30px;
}

.member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.member__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.member__soc-list {
  @extend %centered-flex;
  margin-bottom: 30px;
}

.member__soc-item:not(:last-child) {
  margin-right: 10px;
}

.member__soc-icon {
  fill: var(--soc-icon-fill-in-team-section);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .member__soc-link:hover &,
  .member__soc-link:focus & {
    fill: var(--simple-white-color);
  }
}

.member__soc-link {
  width: 44px;
  height: 44px;
  @extend %centered-flex;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
