body {
  background-color: var(--simple-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  line-height: 1.71;
}



.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}