:root {
  --accent-color: #2196f3;
  --bgc-hero-btn-hover: #188ce8;
  --simple-white-color: #ffffff;
  --simple-black-color: #000000;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --bgc-footer-and-hero: #2f303a;
  --bgc-section-team: #f5f4fa;
  --border-color-in-portfolio: #eeeeee;
  --border-color-page-header: #ececec;
  --soc-icon-fill-in-team-section: #afb1b8;
  --footer-soc-bg-color: rgba(255, 255, 255, 0.1);
  --bg-color-for-work-description: rgba(47, 48, 58, 0.8);
  --bg-color-pirtfolio-item-hover: rgba(33, 150, 243, 0.9);
  --color-contacts-footer: rgba(255, 255, 255, 0.6);
  --backdrop-color-modal: rgba(0, 0, 0, 0.2);
}
